html {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #eee;
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	line-height: 0;
}
body.scrolling {
	cursor: move;
}
body.overview {
	cursor: zoom-in;
}


#poster-wrapper {
	position: relative;
	display: inline-block;
}
body.overview #poster-wrapper {
	width: 100%;
	height: 100%;
}



#poster {
	position: relative;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 1000px;
	z-index: 1;
}


@media(max-width:900px) {
	#poster {
		width: 1000px;
	}
}
@media(min-width:901px) {
	#poster {
		width: 100%;
	}
}
@media(min-width:1400px) {
	#poster {
		width: 1200px;
	}
}

body.overview #poster {
	margin: auto;
	position: absolute;
	max-width: 100%;
	width: auto;
	min-width: auto;
	max-height: 100%;
	top: 50%;
	transform: translateY(-50%);
}

img#search-icon {
	display: none;
}
body.overview img#search-icon {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	display: block;
	width: 200px;
	margin: auto;
	z-index: 11;
	opacity: 0.7;
	transition: all 0.5s ease;
}
body.overview img#search-icon:hover {
	opacity: 1;
}



img#menu-icon {
	position: fixed;
	top: 20px; right: 20px;
	display: block;
	width: 60px;
	z-index: 11;
	cursor: pointer;
	border-radius: 3px;
	transition: all 0.5s ease;
}
img#menu-icon:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
img#menu-icon.active {
	background-color: white;
	box-shadow: 0 0 100px white;
}


#menu {
	position: fixed;
	top: 90px; right: 0; left: 0;
	z-index: 20;
	cursor: default;
	display: none;
}
#menu a {
	line-height: 1.1em;
	padding: 15px;
	display: block;
	background-color: white;
	color: #0071BA;
	text-decoration: none;
	font-family: sans-serif;
	border: 3px solid white;
	border-width: 5px 0 5px 0;
	margin-bottom: 15px;
}
@media(max-width:900px) {
	#menu a {
		font-size: 14px;
	}
}
@media(min-width:901px) {
	#menu a {
		font-size: 24px;
	}
}
@media(min-width:1400px) {
	#menu a {
		font-size: 34px;
	}
}


#menu a:active, #menu a:hover, #menu a:focus {
//	border-color: #0071BA;
	box-shadow: 0 0 10px white;
}


#logo img {
	position: fixed;
	top: 12px;
	left: 30px;
	width: 80px;
	z-index: 12;
	border-radius: 3px;
	padding: 10px;
	transition: all 0.5s ease;
}
#logo:hover img {
	background-color: rgba(255, 255, 255, 0.3);
}




#layer {
	/* verdeckt alles, das nicht von der Maus erwischt werden soll */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}


.marker {
	z-index: 13;
	position: absolute;
	left: 10%;
	top: 10%;
	height: 30px;
	width: 30px;
	background-image: url("../images/info.png");
	background-size: cover;
	cursor: pointer;
}
body.overview .marker {
	display: none;
}

.marker .marker-body {
	display: none;
	position: absolute;
	top: 33px;
	left: -143px;
	width: 300px;
	background-color: #C3DBF9;
	border: 7px solid #2E63CD;
	border-radius: 15px;
}
.marker .marker-body h2 {
	line-height: 1.1em;
	font-size: 18px;
	font-family: sans-serif;
}
.marker .marker-body p {
	line-height: 1.1em;
	font-size: 12px;
	font-family: sans-serif;
}

